{
    "appNameIndex": 0,
    "appNameList": [
        {
            "appId": "00000000000000000000000000000000",
            "appName": "AppName1"
        },
        {
            "appId": "00000000000000000000000000000000",
            "appName": "AppName2"
        }
    ],
    "customButtons": [
        {
            "buttonName": "1摄像头",
            "buttonCode": [
                "#启用摄像头加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickEnableVideo()",
                "self.onClickEnableExtension()",
                "#self.degradationPreferenceCombox.setCurrentIndex(2)",
                "#self.rtcEngine.setParameters('{\"rtc.video.minbitrate_ratio\": \"0.8\", \"che.video.video_min_framerate\": 1}')",
                "self.rtcEngine.setParameters('{\"che.video.video_min_framerate\": 1}')",
                "self.exConfigCheck.setChecked(False)",
                "self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannel()",
                "#exec(util.getFileText('AgoraCodePart1.py'))"
            ]
        },
        {
            "buttonName": "1自采集",
            "buttonCode": [
                "#视频自采集加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.sourceTypeCombox.setCurrentIndex(4)",
                "self.onClickEnableExtension()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickEnableVideo()",
                "#self.degradationPreferenceCombox.setCurrentIndex(2)",
                "self.exConfigCheck.setChecked(False)",
                "self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickJoinChannel()",
                "self.onClickStartPreview()",
                "#self.setPushVideoFrameFromFile(r'd:/Downloads/capture320x240_1.yuv', videoFormat=1, width=320, height=240, fps=10)",
                "#exec(util.getFileText('AgoraCodePart1.py'))"
            ]
        },
        {
            "buttonName": "1屏幕分享",
            "buttonCode": [
                "#启用屏幕分享加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickGetVideoDevices()",
                "self.videoDevicesCombox.setCurrentIndex(0)",
                "self.onClickEnableVideo()",
                "self.sourceTypeCombox.setCurrentIndex(2)",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartScreenCaptureByScreenRect()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannel()"
            ]
        },
        {
            "buttonName": "2摄像头同一频道",
            "buttonCode": [
                "#启用双摄像头加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickGetVideoDevices()",
                "self.videoDevicesCombox.setCurrentIndex(0)",
                "self.onClickEnableVideo()",
                "self.onClickEnableExtension()",
                "self.exConfigCheck.setChecked(False)",
                "self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartPrimaryCameraCapture()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannel()",
                "if self.videoDevicesCombox.count() < 2: self.continueRunCustom = False",
                "self.videoDevicesCombox.setCurrentIndex(1)",
                "self.sourceTypeCombox.setCurrentIndex(1)",
                "self.onClickEnableExtension()",
                "#self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartSecondaryCameraCapture()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannelEx()",
                "#self.exConfigCheck.setChecked(True)",
                "#self.onClickSetVideoEncoderConfiguration()"
            ]
        },
        {
            "buttonName": "2摄像头不同频道",
            "buttonCode": [
                "#启用双摄像头加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickGetVideoDevices()",
                "self.videoDevicesCombox.setCurrentIndex(0)",
                "self.onClickEnableVideo()",
                "self.onClickEnableExtension()",
                "self.exConfigCheck.setChecked(False)",
                "self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartPrimaryCameraCapture()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannel()",
                "if self.videoDevicesCombox.count() < 2: self.continueRunCustom = False",
                "self.videoDevicesCombox.setCurrentIndex(1)",
                "self.sourceTypeCombox.setCurrentIndex(1)",
                "self.onClickEnableExtension()",
                "#self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartSecondaryCameraCapture()",
                "self.onClickStartPreview()",
                "self.channelNameEdit.setText(self.channelNameEdit.text() + '_2')",
                "self.onClickJoinChannelEx()",
                "#self.exConfigCheck.setChecked(True)",
                "#self.onClickSetVideoEncoderConfiguration()"
            ]
        },
        {
            "buttonName": "1屏幕分享和1摄像头",
            "buttonCode": [
                "#启用屏幕分享和摄像头加入频道",
                "self.onClickInitialize()",
                "self.onClickSetClientRole()",
                "self.onClickLoadExtensionProvider()",
                "self.onClickRegisterVideoFrameObserver()",
                "self.onClickGetVideoDevices()",
                "self.videoDevicesCombox.setCurrentIndex(0)",
                "self.onClickEnableVideo()",
                "self.sourceTypeCombox.setCurrentIndex(2)",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartScreenCaptureByScreenRect()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannel()",
                "self.sourceTypeCombox.setCurrentIndex(1)",
                "self.onClickEnableExtension()",
                "self.exConfigCheck.setChecked(False)",
                "#self.onClickSetVideoEncoderConfiguration()",
                "self.onClickSetupLocalVideo()",
                "self.onClickStartSecondaryCameraCapture()",
                "self.onClickStartPreview()",
                "self.onClickJoinChannelEx()",
                "#self.exConfigCheck.setChecked(True)",
                "#self.onClickSetVideoEncoderConfiguration()"
            ]
        },
        {
            "buttonName": "1自采集和1摄像头",
            "buttonCode": [
                "#启用双摄像头和屏幕分享加入频道",                
                "exec(util.getFileText('AgoraCode1Custom1Camera.py'))"
            ]
        },
        {
            "buttonName": "1自采集和1屏幕分享",
            "buttonCode": [
                "#启用双摄像头和屏幕分享加入频道",                
                "exec(util.getFileText('AgoraCode1Custom1Screen.py'))"
            ]
        },
        {
            "buttonName": "2摄像头和1屏幕分享",
            "buttonCode": [
                "#启用双摄像头和屏幕分享加入频道",                
                "exec(util.getFileText('AgoraCode2Camera1Screen.py'))"
            ]
        },
        {
            "buttonName": "1自采集2摄像头1屏幕分享",
            "buttonCode": [
                "#启用双摄像头，1屏幕分享和1自采集加入频道",                
                "exec(util.getFileText('AgoraCode2Camera1Screen1Custom.py'))"
            ]
        }
    ],
    "defaultBrightnessCorrectionMode": 0,
    "defaultRenderMode": 2,
    "defaultResolution": 5,
    "loadExtensions": [
        "libagora_video_process.dll",
        "libagora_video_process_extension.dll"
    ],
    "allExtensions": [
        "libagora_pvc_extension.dll",
        "libagora_quality_education_video_process.dll",
        "libagora_segmentation_extension.dll",
        "libagora_video_process_extension.dll",
        "libagora_video_process.dll"
    ],
    "muteSecondaryCamera": true,
    "myName": "yks-pc",
    "tokenChannel": "",
    "tokenUid": "",
    "channelName": "sdktest",
    "uid": "0"
}